#life-board{
  background-color:red;
}

.boardRow{
  height:20px;
  width:100px;
}

.aliveSquare{
  display:inline-block;
  height:20px;
  width:20px;
  background-color:white;
}

.deadSquare{
  display:inline-block;
  height:20px;
  width:20px;
  background-color:black;
}
